<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <% if comment.user.name == "" %>
          <td><%= comment.user.email %></td>
        <% else %>
          <td><%= comment.user.name %></td>
        <% end %>
        <td><%= comment.title %></td>
        <td><%= comment.created_at %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New comment', new_comment_path %>
