<h1><%= t('views.common.title_show', name: Comment.model_name.human) %></h1>

<p>
  <strong><%= Comment.human_attribute_name(:user) %>:</strong>
  <% if @comment.user.name == "" %>
    <td><%= @comment.user.email %></td>
  <% else %>
    <td><%= @comment.user.name %></td>
  <% end %>
</p>

<p>
  <strong><%= Comment.human_attribute_name(:content) %>:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong><%= Comment.human_attribute_name(:posted_time) %>:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong><%= Comment.human_attribute_name(:updated_time) %>:</strong>
  <%= @comment.updated_at %>
</p>

<%= link_to t('views.common.back'), @commentable %>
