<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <% if @comment.user.name == "" %>
    <td><%= @comment.user.email %></td>
  <% else %>
    <td><%= @comment.user.name %></td>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Post time:</strong>
  <%= @comment.created_at %>
</p>

<p>
  <strong>Update time:</strong>
  <%= @comment.updated_at %>
</p>

<%= link_to 'Back', @commentable %>
